# Plugin Installation Method
# Options: remote, local, marketplace
INSTALL_METHOD=remote

# Remote Installation (for debugging)
REMOTE_INSTALL_URL=
REMOTE_INSTALL_KEY=

# Local Installation
# Leave empty for default local installation
