# UAT environment template for desktop api
SSO_API_URL=https://uat-sso.cheersai.cloud/api
DESKTOP_SSO_CLIENT_ID=replace-with-uat-client-id
DESKTOP_SSO_CLIENT_SECRET=replace-with-uat-client-secret
SSO_PROVISION_OWNER=CheersAI
SSO_PROVISION_CLIENT_ID=replace-with-uat-client-id
SSO_PROVISION_CLIENT_SECRET=replace-with-uat-client-secret
SSO_PROVISION_DEFAULT_ROLE=desktop_team_admin
SSO_PROVISION_SIGNUP_APPLICATION=desktop

FILEBAY_BASE_URL=https://uat-filebay.cheersai.cloud
GITEA_URL=https://uat-filebay.cheersai.cloud
FILEBAY_ADMIN_USERNAME=admin
FILEBAY_ADMIN_PASSWORD=replace-with-uat-filebay-password
FILEBAY_DEFAULT_REPO=workspace
FILEBAY_DEFAULT_BRANCH=main
FILEBAY_DEFAULT_MASKED_DIR=masked

BETA_NOTIFICATION_DESKTOP_URL=https://uat-desktop.cheersai.cloud/signin
BETA_NOTIFICATION_SSO_LOGIN_URL=https://uat-sso.cheersai.cloud/login/CheersAI
