.env
.env.*

# Logs
logs
*.log*

# node
node_modules
dist
build
coverage
.husky
.next
!.next/standalone
!.next/standalone/**
!.next/static
!.next/static/**
.pnpm-store
src-tauri/server/.next
src-tauri/server/node_modules
src-tauri/target
src-tauri/gen

# vscode
.vscode

# webstorm
.idea
*.iml
*.iws
*.ipr


# Jetbrains
.idea

# git
.git
.gitignore
